{% extends '_base.html' %}


{% block content %}


<!--
  This example requires Tailwind CSS v2.0+ 
  
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<div>
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="md:col-span-1">
      <div class="px-4 sm:px-0">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Create Snack</h3>
      </div>
    </div>
    <div class="mt-5 md:mt-0 md:col-span-2">
    <form action="" method="post">
    {% csrf_token %}
    <div class="shadow sm:rounded-md sm:overflow-hidden">
          <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
           <div class="col-span-6 sm:col-span-3">
                <label for="title" class="block text-sm font-medium text-gray-700">Title</label>
                <input type="text" name="title" id="id_title" autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" value="{{snacks.title}}" maxlength="64" required="" >
              </div>
{% comment %} description {% endcomment %}
            <div>
              <label for="about" class="block text-sm font-medium text-gray-700">
                description:
              </label>
              <div class="mt-1">
                <textarea id="id_description" name="description" rows="3" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md" required="" >{{snacks.description}}</textarea>
              </div>
            </div>
{% comment %} description {% endcomment %}
           <div class="col-span-6 sm:col-span-3">
                <label for="purchaser" class="block text-sm font-medium text-gray-700">purchaser</label>
                <select id="id_purchaser" name="purchaser" autocomplete="country-name" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required="" >
                <option value="">---------</option>
                <option value="1">{{snacks.purchaser}}</option>
                </select>
              </div>
           
          </div>
          <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
            <input type="submit" value= "Update" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            
              
          </div>
        </div>
      </form>
    </div>
  </div>
</div>





</div>
{% comment %} <form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Update">
</form> {% endcomment %}


{% comment %} <a href="{% url 'snack-list' %}">Home</a>

<form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Update">
</form>
{% endcomment %}


<a href="{% url 'snack-detail' snacks.pk %}" class="text-indigo-600 hover:text-indigo-900">Back</a>


{% endblock %}